# Configurações do Servidor
PORT=3000
NODE_ENV=development

# Banco de Dados
DATABASE_URL="postgresql://admin:password@postgres_db:5432/app_database?schema=public"
# MONGO_URI="mongodb://mongo_db:27017/app_database"

# Autenticação JWT
JWT_SECRET=super_secret_jwt_key_change_me
JWT_EXPIRES_IN=1d

# Integração Groq AI
GROQ_API_KEY=seu_groq_api_key_aqui
